/*
	- shared styles for 7 NEws
*/
body {
	background-color: #aaa;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	margin: 10px auto;
}

a { text-decoration: none; }

b { font-family: Arial, Helvetica, sans-serif; }

.d-block { display: block; }

.bg-red { background: #cc0000; }

.logo {
	width: 50%;
	border: 0;
	z-index: 100;
	margin: 0;
	padding: 0;
}

.red-label {
	position: relative;
	top: 0px;
	left: 0px;
	background: #cc0000;
	color: #fff;
	border-bottom: #000 solid 1px;
	font-weight: bold;
	text-shadow: 1px 1px #333;
	text-align: center;
	padding: 0.5em 0 0.5em 0;
	margin: 0 0 1em 0;
	width: 100%;
}

.black-label {
	background-color: #000;
	color: grey;
	height: 32px;
	width: 100%;
}

#docFrame {
	background: #fff;
	padding: 0;
	box-shadow: 10px 10px 5px #888888;
	margin: 0 auto;
	width: 80%;
}

/* begin: divide docFrame into 3 columns, via <Table> */
.tableClass {
	border: 0;
	border-spacing: 0;
	table-layout: fixed;
	padding: 0;
	width: 96%;
	margin: 0 auto 1em auto;
}

#tbDocBody {
	border: 0;
	padding: 0;
	text-align: left;
	width: 100%;
}

.tdLeft {
	border: 2px solid #e60000;
	border-right: 0;
	border-radius: 10px 0 0 10px;
	height: 10em;
	width: 10em;
	margin: 0;
	padding: 0em;
	vertical-align: middle;
	text-align: center;
}

.tdLeft a {
	cursor: pointer;
	color: #333;
	font-weight: bold;
	font-size: 1.3em;
	margin: 0;
}

.tdCenter {
	padding: 0;
	text-align: center;
}

.tdCenter.page-content-wrapper {
	padding:0 5em; 
	min-height:25em; 
	vertical-align:top;
}

.tdRight {
	border: 2px solid #e60000;
	border-left: 0;
	border-radius: 0 10px 10px 0;
	height: 10em;
	width: 10em;
	margin: 0;
	padding: 0em;
	text-align: center;
	vertical-align: middle;
}

.tdRight input[name="keyword"] {
	font-size:0.7em; 
	width:90%;
}

/* end: divide docFrame into 3 columns, via <Table> */

/*
  begin: style defining an article block
*/
.article {
	display: inline-table;
	text-align: justify;
	padding: 0em;
	margin:2em 6em;
	vertical-align: top;
}

.article-publication {
	margin-bottom: 1rem;
}

.artHeading,
.artSubHead {
	font-family: Oswald, Arial, sans-serif;
	font-size: 2.5em;
	display: block;
	margin: 0 0 1rem 0;
	padding: 0;
	outline: 0;
	text-align: center;
}

.artSubHead {
	font-size: 1.5em;
}

.artAuthor {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
	text-align: center;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.artCaption {
	font-family: Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
	text-align: center;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

.artInsert {
	float: left;
	width: 18em;
	margin: 1em;
	padding: 0;
	text-align: left;
	font-size: 1em;
}

.artImage {
	padding: 0;
	margin: 0;
}

.artImage img {
	border: 1px solid silver;
	display: block;
	margin: 0;
	padding: 0;
	width: 12em;
}

.artImageCaption {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 0.8em;
	text-align: center;
	margin: 0.25em 0 0 0;
}

.artBody {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 1.1em;
	text-align: justify;
	margin: 0;
	padding: 0;
}

/*
  end: style defining an article block
*/
.artLinkContinue {
	color: #cc0000;
	font-style: italic;
}

.artLinkContinue:visited {
	color: #cc0000;
}

.related-topics {
	font-family: Arial, Helvetica, sans-serif;
}

.related-topics span {
	font-weight: bold;
 }

.related-topics p {
	margin: 0;
}

#divFooter {
	border-top: 1px solid #000;
	padding:1em 0; 
	color:#fff; 
	font-family:sans-serif; 
	font-size:0.75em; 
	text-align:center;
	width: 100%;
}

#divFooter a {
	color:#fff;
}

.tinybtn {
	border-radius: 0.5em;
	font-size: 0.8em;
}
